extends item-layout

block item-content
	h1 item #{item._id}
	form
		div.form-group
			label(for='name') name
			input#name(type='text', value='#{item.name}').form-control
		button(type='submit').btn.btn-default submit